# AquaPure Pro - Entorno de Producción Local e Intranet
NODE_ENV=production
PORT=3000
HOST=0.0.0.0

# Base de Datos PostgreSQL Aislada
POSTGRES_DB=aquapuredb
POSTGRES_USER=aquapure_admin
POSTGRES_PASSWORD=AquaPureSecure2026!

# Clave Secreta Criptográfica para Tokens y Firmas
APP_SECRET_KEY=aquapure_cryptographic_secret_key_2026_enterprise_shield